urso_be/urso-common/configuration/RA_1/RA_1_TYPES.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.dominanz.sk/UVZ/Reg/ADDRESS" xmlns:ns0="http://www.dominanz.sk/UVZ/Reg/ADDRESS" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:complexType name="DistrictCType">
		<xsd:complexContent>
			<xsd:extension base="ns0:CodelistDataElementCType">
				<xsd:sequence/>
				<xsd:attribute name="UniqueNumbering" type="xsd:boolean" use="required"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="BuildingUnitSCType">
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="UnitNumber" type="xsd:string"/>
				<xsd:attribute name="Floor" type="xsd:integer"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="CorporateBodyFullNameSCType">
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="Current" type="xsd:boolean" use="required"/>
				<xsd:attribute name="EffectiveFrom" type="xsd:date" use="required"/>
				<xsd:attribute name="EffectiveTo" type="xsd:date"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="CodelistItemCType">
		<xsd:sequence>
			<xsd:element name="ItemCode" type="xsd:string"/>
			<xsd:element name="ItemName" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="RecipientCType">
		<xsd:sequence>
			<xsd:element name="PersonName" type="ns0:PersonNameCType" minOccurs="0"/>
			<xsd:element name="AdditionalText" type="xsd:string" minOccurs="0"/>
			<xsd:element name="OrganizationUnitName" type="ns0:OrganizationUnitNameSCType" minOccurs="0"/>
			<xsd:element name="CorporateBodyFullName" type="ns0:CorporateBodyFullNameSCType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="AffixCType">
		<xsd:complexContent>
			<xsd:extension base="ns0:CodelistDataElementCType">
				<xsd:sequence/>
				<xsd:attribute name="type" type="xsd:string" use="required"/>
				<xsd:attribute name="position" type="xsd:string" use="required"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="GivenFamilyNameSCType">
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="primary" type="xsd:string" use="required"/>
				<xsd:attribute name="prefix" type="xsd:string" use="required"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="AddressPointCType">
		<xsd:sequence>
			<xsd:element name="XYH" type="ns0:XYHCType" minOccurs="0"/>
			<xsd:element name="BLH" type="ns0:BLHCType" minOccurs="0"/>
			<xsd:element name="AddressPointID" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="AddressTypeCType">
		<xsd:sequence>
			<xsd:element name="AddressClass" type="ns0:CodelistDataElementCType" minOccurs="0"/>
			<xsd:element name="AddressRecordDate" type="xsd:date" minOccurs="0"/>
			<xsd:element name="AddressRecordDateTermination" type="xsd:date" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="FamilyNameSCType">
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="primary" type="xsd:string" use="required"/>
				<xsd:attribute name="prefix" type="xsd:string" use="required"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="DeliveryAddressCType">
		<xsd:sequence>
			<xsd:element name="PostalCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="PostOfficeBox" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Recipient" type="ns0:RecipientCType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CodelistDataElementCType">
		<xsd:sequence>
			<xsd:element name="NonCodelistData" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Codelist" type="ns0:CodelistCType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="resultCodeResponseCType" abstract="true">
		<xsd:complexContent>
			<xsd:extension base="ns0:baseResponseCType">
				<xsd:sequence>
					<xsd:element name="ResultCode" type="xsd:long"/>
					<xsd:element name="ResultReason" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="GeographicStreetAxisCType">
		<xsd:sequence>
			<xsd:element name="StreetAxisID" type="xsd:string" minOccurs="0"/>
			<xsd:element name="StreetAxisStart" type="ns0:StreetAxisStartCType" minOccurs="0"/>
			<xsd:element name="StreetAxisEnd" type="ns0:StreetAxisEndCType" minOccurs="0"/>
			<xsd:element name="StreetAxisNode" type="ns0:StreetAxisNodeCType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="StreetAxisNodeCType">
		<xsd:sequence>
			<xsd:element name="XYH" type="ns0:XYHCType" minOccurs="0"/>
			<xsd:element name="BLH" type="ns0:BLHCType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="StreetAxisEndCType">
		<xsd:sequence>
			<xsd:element name="XYH" type="ns0:XYHCType" minOccurs="0"/>
			<xsd:element name="BLH" type="ns0:BLHCType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PhysicalAddressCType">
		<xsd:sequence>
			<xsd:element name="FamilyName" type="ns0:FamilyNameSCType" maxOccurs="unbounded"/>
			<xsd:element name="AddressLine" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Country" type="ns0:CodelistDataElementCType" minOccurs="0"/>
			<xsd:element name="Region" type="ns0:CodelistDataElementCType" minOccurs="0"/>
			<xsd:element name="County" type="ns0:CodelistDataElementCType" minOccurs="0"/>
			<xsd:element name="Municipality" type="ns0:CodelistDataElementCType" minOccurs="0"/>
			<xsd:element name="District" type="ns0:DistrictCType" minOccurs="0"/>
			<xsd:element name="StreetName" type="xsd:string" minOccurs="0"/>
			<xsd:element name="AdditionalStreetData" type="ns0:AdditionalStreetDataCType" minOccurs="0"/>
			<xsd:element name="BuildingNumber" type="xsd:string" minOccurs="0"/>
			<xsd:element name="PropertyRegistrationNumber" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="AddressPoint" type="ns0:AddressPointCType" minOccurs="0"/>
			<xsd:element name="BuildingIndex" type="xsd:string" minOccurs="0"/>
			<xsd:element name="DeliveryAddress" type="ns0:DeliveryAddressCType" minOccurs="0"/>
			<xsd:element name="Building" type="ns0:BuildingCType" minOccurs="0"/>
			<xsd:element name="AddressType" type="ns0:AddressTypeCType" minOccurs="0"/>
			<xsd:element name="BuildingUnit" type="ns0:BuildingUnitSCType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CodelistCType">
		<xsd:sequence>
			<xsd:element name="CodelistCode" type="xsd:string"/>
			<xsd:element name="CodelistItem" type="ns0:CodelistItemCType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="AdditionalStreetDataCType">
		<xsd:sequence>
			<xsd:element name="GeographicStreetAxis" type="ns0:GeographicStreetAxisCType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="OrganizationUnitNameSCType">
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="Current" type="xsd:boolean" use="required"/>
				<xsd:attribute name="EffectiveFrom" type="xsd:date" use="required"/>
				<xsd:attribute name="EffectiveTo" type="xsd:date"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="StreetAxisStartCType">
		<xsd:sequence>
			<xsd:element name="XYH" type="ns0:XYHCType" minOccurs="0"/>
			<xsd:element name="BLH" type="ns0:BLHCType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="XYHCType">
		<xsd:sequence>
			<xsd:element name="AxisX" type="xsd:decimal" minOccurs="0"/>
			<xsd:element name="AxisY" type="xsd:decimal" minOccurs="0"/>
			<xsd:element name="HeightH" type="xsd:decimal" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="BLHCType">
		<xsd:sequence>
			<xsd:element name="AxisB" type="xsd:decimal" minOccurs="0"/>
			<xsd:element name="AxisL" type="xsd:decimal" minOccurs="0"/>
			<xsd:element name="AxisH" type="xsd:decimal" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="BuildingCType">
		<xsd:sequence>
			<xsd:element name="BuildingName" type="xsd:string" minOccurs="0"/>
			<xsd:element name="BuildingPurpose" type="ns0:CodelistDataElementCType" minOccurs="0"/>
			<xsd:element name="BuildingTypeCode" type="ns0:CodelistDataElementCType" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="ContainsFlats" type="xsd:boolean" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="PersonNameCType">
		<xsd:sequence>
			<xsd:element name="FormattedName" type="xsd:string" minOccurs="0"/>
			<xsd:element name="LegalName" type="xsd:string" minOccurs="0"/>
			<xsd:element name="GivenName" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="PreferredGivenName" type="xsd:string" minOccurs="0"/>
			<xsd:element name="OtherName" type="xsd:string" minOccurs="0"/>
			<xsd:element name="FamilyName" type="ns0:FamilyNameSCType" maxOccurs="unbounded"/>
			<xsd:element name="GivenFamilyName" type="ns0:GivenFamilyNameSCType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Affix" type="ns0:AffixCType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="baseResponseCType" abstract="true">
		<xsd:sequence>
			<xsd:element name="CorrId" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>