urso_be/urso-common/definitions/codelistBase_v1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
		targetNamespace="http://www.dominanz.sk/UVZ/Reg/CodeListBase"
		xmlns:tns="http://www.dominanz.sk/UVZ/Reg/CodeListBase"
    	elementFormDefault="qualified" version="1.0">
    

    <xsd:simpleType name="codeListCodeType">
	    <xsd:restriction base="xsd:string">
	    	<xsd:minLength value="1"></xsd:minLength>
	    	<xsd:maxLength value="100"></xsd:maxLength>
	    </xsd:restriction>
    </xsd:simpleType>
    
    <xsd:simpleType name="ItemCodeType">
	    <xsd:restriction base="xsd:string">
	    	<xsd:minLength value="1"></xsd:minLength>
	    	<xsd:maxLength value="255"></xsd:maxLength>
	    </xsd:restriction>
    </xsd:simpleType>

    <xsd:complexType name="CodeListValidatorType">
    	<xsd:sequence>
    		<xsd:element name="CodeListCode" type="tns:codeListCodeType" maxOccurs="1" minOccurs="1"></xsd:element>
    		<xsd:element name="Fatal" minOccurs="1" maxOccurs="1" type="xsd:boolean">
    			<xsd:annotation>
    				<xsd:documentation>Fatal error when not equals</xsd:documentation>
    			</xsd:annotation></xsd:element>
    	</xsd:sequence>
    </xsd:complexType>
    
	
	<xsd:complexType name="ValidatorType">
		<xsd:choice>
			<xsd:element name="codeListValidator" minOccurs="0" maxOccurs="1"></xsd:element>
		</xsd:choice>
	</xsd:complexType>

	

    <xsd:complexType name="LanguageType">
    	<xsd:sequence>
    		<xsd:element name="LanguageId" maxOccurs="1" minOccurs="1" type="tns:ItemCodeType"></xsd:element>
    	</xsd:sequence>
    </xsd:complexType>







</xsd:schema>