urso_be/urso-common/definitions/CSRU/FO/Podanie.1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
targetNamespace="http://www.egov.sk/mvsr/Ekr/Podanie.1.0" 
xmlns:p="http://www.egov.sk/mvsr/Ekr/Podanie.1.0" 
elementFormDefault="qualified"
version="1">
        <annotation>
                <documentation>
                        <documentation>11.7.2013 - verzia 1, doplnený IdentifikatorSchranky pre EDESK</documentation>
                </documentation>
        </annotation>

	<element name="Podanie" type="p:PodanieType" />
	<complexType name="PodanieType">
		<sequence>
			<element minOccurs="0" maxOccurs="1" name="TypPodania" type="string" />
			<element minOccurs="0" maxOccurs="1" name="TypSluzby" type="string" />
			<element minOccurs="1" maxOccurs="1" name="DataPodaniaBase64" type="string" />
		</sequence>
		<attribute name="CorrelationId" type="string" use="optional" />
		<attribute name="IdentifikatorSubjektu" type="string" use="optional" />
                
                <!-- Pre použitie v B2B službách -->
		<attribute name="IdentifikatorSchranky" type="string" use="optional" />
	</complexType>
</schema>